.container {
    width: 100%;
  }
  
  .grid {
    width: 100%;
  }
  
  .col-12 {
    width: 100%;
  }
  
  .p-input-icon-left {
    display: block;
    width: 100%;
  }
  
  .p-input-icon-left input {
    width: 100%;
  }
  